<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">ImgShare!</a>
            <ul class="nav nav-pills">
              <li><a href="/manage">Manage</a></li>
              <li><a href="/create">Create</a></li>
              <li><a href="/view">View</a></li>
              <li><a href="/search">Search</a></li>
              <li><a href="/trending">Trending</a></li>
              <li><a href="/social">Social</a></li>
            </ul>
            <div class="nav-collapse collapse pull-right">
              <a href="{{url|safe}}" class="btn" id="signinButton">Sign Out</a>
            </div>
        </div>
    </div>
</div>
