<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- If you delete this meta tag, the ground will open and swallow you. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ZURBemails</title>
	
<link rel="stylesheet" type="text/css" href="/css/email.css" >

</head>
 
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#999999">
	<tr>
		<td></td>
		<td class="header container" align="">
			
			<!-- /content -->
			<div class="content">
				<table bgcolor="#999999" >
					<tr>
            <td><img src="http://i.imgur.com/nRqP68r.png?2" /></td>
						<td align="right"><h6 class="collapse">Trending Report</h6></td>
					</tr>
				</table>
			</div><!-- /content -->
			
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap" bgcolor="">
	<tr>
		<td></td>
		<td class="container" align="" bgcolor="#FFFFFF">
			
			<!-- content -->
			<div class="content">
				<table>
					<tr>
						<td>
							
							<h1>Hello!</h1>
							<p class="lead">You asked we delivered! Here are some of our trending streams!</p>
							
						</td>
					</tr>
				</table>
			</div><!-- /content -->
      {% for streamid in streams %}
			<!-- content -->
			<div class="content">
				
				<table bgcolor="">
					<tr>
						<td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="{{streams[streamid]['stream']['cover_image'] or ('http://placehold.it/75x75/000000/ffffff&text='+ streams[streamid]['stream']['name']|truncate(8)) }}" /></td>
						<td>
              <h4>{{ streams[streamid]["stream"]["name"]}}</h4>
              <a class="btn" href="http://img-share-apt.appspot.com/stream/view?id={{streams[streamid]['stream']['id']}}">go see &raquo;</a>
						</td>
					</tr>
				</table>
			
			</div><!-- /content -->
      {% endfor %}
			<!-- content -->
			<div class="content">
				<table bgcolor="">
					<tr>
						<td>
						</td>
					</tr>
				</table>
			</div><!-- /content -->
			

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
					<table>
						<tr>
							<td align="center">
								<p>
									<a href="http://img-share-apt.appspot.com/trending"><unsubscribe>Unsubscribe</unsubscribe></a>
								</p>
							</td>
						</tr>
					</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
