{% include 'templates/header.html' %}
<link rel="stylesheet" href="/css/grid.css">


<div class="container">

  <output id="outputLog"></output>

  <h2 style="margin-top: 0%; color: grey;">trending now</h2>
  <hr/>
  <div id="four-columns" class="grid-container" style="margin-top: -.02%;">
    <ul class="rig columns-4">
      {% if user_streams %}
      {% for id in user_streams %}
      <li>
      <a href="./stream/view?id={{user_streams[id]['stream']['id']}}" style="text-decoration: none;">
        <img class="gl-img" src="{{user_streams[id]['stream']['cover_image'] or ('http://placehold.it/1024x626/'+ random_colors[range(0,30)|random] +'/000000&text=' + user_streams[id]['stream']['name']|truncate(8)) }}" />
        <h3>{{user_streams[id]['stream']['name']}}</h3>
        <p> {{user_streams[id]['stream']['comments']}} </p>
      </a>
      <span class="label label-warning">{{user_streams[id]['one_hour_view_count']}} views in last hour</span>
      <span class="label label-info">{{user_streams[id]['stream']['view_count']}} total views</span>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>

  <div id="info-box">
    <form action="./update-rate" id="formID" method="POST" enctype="multipart/form-data">
      <fieldset>
        <legend>Get notified</legend>
        <div class="form-group">
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <input name="optionsRadios" id="optionsRadios1" value="0" checked="" type="radio">
                No Reports
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                Every 5 minutes
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                Every 1 hour
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                Every day
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10">
            <button type="submit" class="btn btn-primary">Update Rate</button>
          </div>
        </div>
      </fieldset>
    </form>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
$(document).ready(function() {
    $('.grid-nav li a').on('click', function(event){
      event.preventDefault();
      $('.grid-container').fadeOut(500, function(){
        $('#' + gridID).fadeIn(500);
        });
      var gridID = $(this).attr("data-id");

      $('.grid-nav li a').removeClass("active");
      $(this).addClass("active");
      });
    });
    </script>

  </div>
  </body>
  </html>
