{% include 'templates/header.html' %}
<link rel="stylesheet" href="/css/owl.carousel.css">
<link rel="stylesheet" href="/css/owl.theme.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/owl.carousel.js"></script>
<style>
    #owl-demo .item{
      margin: 3px;
    }
    #owl-demo .item img{
      display: block;
      width: 100%;
      height: auto;
    }
    #owl-demo {
      width: 100%;
      margin-left: 0%;
      margin-right: 5%;
      margin-top: 7%;
    }
    #loadmore {
      display: block;
margin-left: 43%;
margin-top: 1%;
position: relative;
    }
    #main-box {
      width: 60%;
      float: left;
      display: inline;
    }

    #info-box {
      margin-top: 10%;
    }
    h1{
	/* Using the custom font we've included in the HTML tab: */
	    font-family: Satisfy, cursive;
    	font-weight:bold;
	    font-size:50px;
	    padding-top: 60px;
    }
    ul#mylist {
	    font-family: Satisfy, cursive;
      color: grey;
    	font-weight:bold;
    	font-weight:dark;
	    font-size:20px;
      list-style-type: none;
      margin-left: 5%;
      margin-top: 10%;
    }
</style>
<div class="container">

    <output id="outputLog"></output>
  <div id="main-box">
    <div id="owl-demo" class="owl-carousel">
        <div class="lazyOwl"><img src="http://farm4.static.flickr.com/3882/15217941542_4473b99f02_b.jpg" alt="Owl Image"></div>
        <div class="lazyOwl"><img src="http://farm6.static.flickr.com/5568/15218837715_923799717b_b.jpg" alt="Owl Image"></div>
        <div class="lazyOwl"><img src="http://farm4.static.flickr.com/3882/15217941542_4473b99f02_b.jpg" alt="Owl Image"></div>
        <div class="lazyOwl"><img src="http://farm4.static.flickr.com/3882/15217941542_4473b99f02_b.jpg" alt="Owl Image"></div>
        <div class="lazyOwl"><img src="http://farm4.static.flickr.com/3882/15217941542_4473b99f02_b.jpg" alt="Owl Image"></div>
        <div class="lazyOwl"><img src="http://farm4.static.flickr.com/3882/15217941542_4473b99f02_b.jpg" alt="Owl Image"></div>
        <div class="lazyOwl"><img src="http://farm6.static.flickr.com/5568/15218837715_923799717b_b.jpg" alt="Owl Image"></div>
    </div>
    <div id="loadmore">
      <a href="" class="btn add btn-primary">Load More</a>
    </div>
  </div>
    <div id="info-box" style="float: right">
    <form id="formID" enctype='application/json' method="post">
      <fieldset>
        <legend>My Awesome Stream</legend>
        <label>Upload</label>
        <textarea rows="3" name="addsub"></textarea><br/>
        <label>Tags</label>
        <textarea rows="3" name="tags"></textarea><br/>
        <label>Cover Image Url</label>
        <input type="text" name="cover_image" placeholder="http://flickr.com/image.png"><br/>
        <button type="submit" class="btn">Submit</button>
      </fieldset>
    </form>
    </div>
<script>
/* Documentation: http://owlgraphic.com/owlcarousel/demos/manipulations.html */
  var owl = $("#owl-demo"),
  i = 0,

  textholder,
  booleanValue = false;

  //init carousel
    owl.owlCarousel({
        lazyLoad : true,
         autoPlay : 3000,
        stopOnHover : true,
      navigation:true,
      paginationSpeed : 1000,
      goToFirstSpeed : 2000,
      rewindNav : true,
      items : 2,
       singleItem : true,
      autoHeight : true
    });

  /*
  addItem() method add new slides on given position

  Syntax:
  owldata.addItem(htmlString, targetPosition)

  First parameter(mandatory) "htmlString" accept string like this:
  var newItem = "<div>new Item</div>"
  Second parameter "targetPosition" is optional and accept number values.
  To add item at the end of carousel you could use -1 value. Last item is default value.
  */
  $('.add').on("click", function(e){
  e.preventDefault();
  i += 1;
  var content = "<div class=\"lazyowl\"><img src=\"http://farm4.static.flickr.com/3882/15217941542_4473b99f02_b.jpg\" alt=\"Owl Image\"></div>";

  owl.data('owlCarousel').addItem(content);
});

</script>
</div>
</body>
</html>
