{% include 'templates/header.html' %}
<link rel="stylesheet" href="/css/photobox.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src='/js/jquery.photobox.js'></script>
<div class="container">

    <output id="outputLog"></output>

    <h2>Manage</h2>

    <div id='gallery'>
    <a href="http://farm4.static.flickr.com/3882/15217941542_4473b99f02_b.jpg">
        <img src="http://farm4.static.flickr.com/3882/15217941542_4473b99f02_b.jpg" title="photo1 title">
    </a>
    <a href="http://farm6.static.flickr.com/5577/15215830072_1c7d90c8ed_b.jpg">
        <img src="http://farm6.static.flickr.com/5577/15215830072_1c7d90c8ed_b.jpg" alt="photo2 title">
    </a>
    <a href="http://farm4.static.flickr.com/3842/15218683905_39667f0f52_b.jpg">
        <img src="http://farm4.static.flickr.com/3842/15218683905_39667f0f52_b.jpg" title="photo3 title">
    </a>
    <a href="http://farm6.static.flickr.com/5568/15218837715_923799717b_b.jpg">
        <img src="http://farm6.static.flickr.com/5568/15218837715_923799717b_b.jpg" alt="photo4 title" data-pb-captionLink='Google website[www.google.com]'>
    </a>
</div>

<script>
    // applying photobox on a `gallery` element which has lots of thumbnails links. Passing options object as well:
    //-----------------------------------------------
    $('#gallery').photobox('a',{ time:0 });

    // using a callback and a fancier selector
    //----------------------------------------------
    $('#gallery').photobox('li > a.family',{ time:0 }, callback);
    function callback(){
       console.log('image has been loaded');
    }

    // destroy the plugin on a certain gallery:
    //-----------------------------------------------
    $('#gallery').photobox('destroy');

    // re-initialize the photbox DOM (does what Document ready does)
    //-----------------------------------------------
    $('#gallery').photobox('prepareDOM');
</script>
</div>
</body>
</html>
